<header class="header" id="header">
    <nav class="nav container">
        <a href="{% url 'pages:home' %}" class="nav_logo">Jarvis </a>
        <div class="nav_menu" id="nav-menu">
            <ul class="nav_list grid">
                <li class="nav_item">
                   <a href="{% url 'pages:home' %}" class="nav_link">
                        <i id="active_starter" class="uil uil-home nav_icon "></i> Home
                    </a>
                </li>
                <li  class="nav_item">
                    <a href="{% url 'blog:post-list' %}" class="nav_link">
                        <i class="uil uil-document-layout-left nav_icon active-link"></i> Blog
                    </a>
                </li>
            </ul>

            <i class="uil uil-times nav_close " id="nav-close"></i>
        </div>

        <div class="nav_btns">
            <!-- change theme -->
            <i class="uil uil-moon change_theme" id="theme-button"></i>

            <div class="nav_toggle" id="nav-toggle">
                <i class="uil uil-apps"></i>
            </div>
        </div>
    </nav>
</header>