{% extends 'base.html' %}

{% block title %} Update Post {% endblock title %}

{% block content %}

<section class="blog section">
    <h2 class="section_title post_detail_title"> Edit Blog Post</h2>
    <!-- <span class="section_subtitle"></span> -->
    
    <div class="container blog_container grid">
        <form method="post">
            <div class=" grid">
                {% csrf_token %}
                {{ form.media }}
                {% for field in form %}
                    <div class="contact_content">
                        <label class="contact_label">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <!-- {{ form.as_p }}-->
                <div class="">
                    <input class="button button--flex contact_submit" type="submit" value="Update">
                </div> 
            </div>
        </form>
    </div>
</section>


{% endblock content %}