asgiref==3.4.1
backports.entry-points-selectable==1.1.1
certifi==2021.10.8
distlib==0.3.4
dj-database-url==0.5.0
dj-email-url==1.0.2
Django==4.0.1
django-cache-url==3.2.3
django-ckeditor==6.2.0
django-cors-headers==3.10.1
django-environ==0.8.1
django-js-asset==1.2.2
environs==9.4.0
filelock==3.4.0
gunicorn==20.1.0
marshmallow==3.14.1
Pillow==9.0.0
pipenv==2021.11.23
platformdirs==2.4.0
postgres==4.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
psycopg2-pool==1.1
python-dotenv==0.19.2
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.10.0
virtualenv-clone==0.5.7
whitenoise==5.3.0
