{% extends 'base.html' %}

{% block title %} Account Log in {% endblock title %}

{% block content %}
<section class="accounts section">
    <h2 class="section_title"> Account Log in </h2>
        <span class="section_subtitle"></span>

    <div class="container grid">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="button button--flex button_nm contact_submit" value="Log In" name="" id="">
        </form>
    </div>
</section>
{% endblock content %}
