<!-- footer -->
<footer class="footer">
    <div class="footer_bg">
        <div class="footer_container container grid">
            <div class="footer_information">
                <h1 class="footer_title">Jarvis Millan</h1>
                <span class="footer_subtitle">Web Developer</span>
            </div>

            <ul class="footer_links">
                <li>
                    <a href="#about" class="footer_link">About</a>
                </li>
                <li>
                    <a href="#services" class="footer_link">Services</a>
                </li>
                <li>
                    <a href="{% url 'blog:post-list' %}" class="footer_link">Blog</a>
                </li>
                <li>
                    <a href="#contact" class="footer_link">Contact</a>
                </li>
            </ul>

            <div class="footer_socials">
                <a href="https://www.linkedin.com/in/jarviscript/" class="footer_social">
                    <i class="uil uil-linkedin"></i>
                </a>

                <a href="https://github.com/pluckannfeel" class="footer_social">
                    <i class="uil uil-github"></i> 
                </a>

                <a href="https://www.instagram.com/millan.jarvis/" class="footer_social">
                    <i class="uil uil-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</footer>